.wrapper
  = render "posts/main_header"
  = render "logo_type-show"
  .search
    .search__side-header
      %ul.search__side-header--table
        %li.search__side-header--table--list
          ・Favorite post
        %li.search__side-header--table--list
          ・My post
        %li.search__side-header--table--list
          = link_to edit_user_path(current_user) do
            ・Edit user information
        %li.search__side-header--table--list
          = link_to root_path do
            ・Top page

