.search
  = form_for [@post] do |f|
    .search__form
      .search__form__post-B
        = f.text_field :title, class: "search__form__text", placeholder: 'Please enter a title'
        = f.text_field :link, class: "search__form__text",  placeholder: 'Please paste the link'
      .search__form__send-B
        = f.submit "Enter", class: "search__form__btn"