.search
  %form.search__form
    .search__form__post-A
      %input.search__form__text{type: "text", placeholder: "Enter what you want to search"}
    .search__form__send-A
      %input.search__form__btn{type: "submit", value: "Enter"}