.search
  %form.search__form
    .search__form__post-B
      %input.search__form__text{type: "text", placeholder: "Please enter a title"}
      %input.search__form__text{type: "text", placeholder: "Please paste the link"}
    .search__form__send-B
      %input.search__form__btn{type: "submit", value: "Enter"}