
.menu
  .menu__user-name
    sako
  .menu__edit
    .menu__edit__user__btn
      %i.fas.fa-user-edit
    .menu__edit__post__btn
      = link_to "/posts/new" do
        %i.fas.fa-pen
        
.logo
  %img{alt: "What's your problem?", height: "130", src: "https://images.cooltext.com/5425059.png", width: "743"}

.search
  %form.search__form
    %input.search__form__text{type: "text", placeholder: "Enter what you want to search"}
    %input.search__form__btn{type: "submit", value: "Enter"}

